@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v8/LDIZaomQNQcsA88c7O9yZ4KMCoOg4KozySKCdSNG9OcqYQ2lCR_Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v8/LDIZaomQNQcsA88c7O9yZ4KMCoOg4KozySKCdSNG9OcqYQ17CR_Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v8/LDIZaomQNQcsA88c7O9yZ4KMCoOg4KozySKCdSNG9OcqYQ0lCR_Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v8/LDIZaomQNQcsA88c7O9yZ4KMCoOg4KozySKCdSNG9OcqYQ0XCR_Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v8/LDIZaomQNQcsA88c7O9yZ4KMCoOg4KozySKCdSNG9OcqYQ37Dh_Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v8/LDIZaomQNQcsA88c7O9yZ4KMCoOg4KozySKCdSNG9OcqYQ3CDh_Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v8/LDIZaomQNQcsA88c7O9yZ4KMCoOg4KozySKCdSNG9OcqYQ2lDh_Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v8/LDIbaomQNQcsA88c7O9yZ4KMCoOg4IA6-91aHEjcWuA_KU7NSg.ttf) format('truetype');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v8/LDIbaomQNQcsA88c7O9yZ4KMCoOg4IA6-91aHEjcWuA_907NSg.ttf) format('truetype');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v8/LDIbaomQNQcsA88c7O9yZ4KMCoOg4IA6-91aHEjcWuA_qU7NSg.ttf) format('truetype');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v8/LDIbaomQNQcsA88c7O9yZ4KMCoOg4IA6-91aHEjcWuA_m07NSg.ttf) format('truetype');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v8/LDIbaomQNQcsA88c7O9yZ4KMCoOg4IA6-91aHEjcWuA_d0nNSg.ttf) format('truetype');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v8/LDIbaomQNQcsA88c7O9yZ4KMCoOg4IA6-91aHEjcWuA_TknNSg.ttf) format('truetype');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v8/LDIbaomQNQcsA88c7O9yZ4KMCoOg4IA6-91aHEjcWuA_KUnNSg.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
}
.filtr-type {
  margin: 20px 50px 20px 20px ;
  background-color: white;
}
.filtr-type ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.filtr-type ul li {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
}
.filtr-type a {
  color: lightgrey;
}
.fitlr-capacity {
  margin: 20px 50px 20px 20px ;
  background-color: white;
}
.fitlr-capacity ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fitlr-capacity ul li {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
}
.fitlr-capacity ul li input {
  background-color: #3563E9;
}
.fitlr-capacity a {
  color: lightgrey;
}
.filtr-price {
  margin: 20px 50px 20px 20px ;
  height: 200px;
  width: auto;
  background-color: white;
}
.filtr-price #price {
  width: 90%;
}
.nav-bar-side {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: auto;
  background-color: white;
  box-sizing: border-box;
}
.content {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background-color: #f6f7f9;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
.content .photo-select {
  height: 360px;
  width: 492px;
  margin-bottom: 24px;
}
.content .cart {
  height: 508px;
  width: 492px;
  background-color: white;
}
.content .name-car-tittle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 24px;
  padding-left: 24px;
}
.content .name-car-tittle img {
  padding-right: 24px;
}
.content .car-descripiton {
  margin-top: 32px;
  margin-left: 24px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
}
.content .name-car-stars {
  margin-top: 2px;
  margin-left: 24px;
  display: flex;
  flex-direction: row;
}
.content .name-car-stars p {
  margin-left: 5px;
}
.content .photo-mini-1 {
  height: 120px;
  width: 144px;
  border: solid;
  border-color: #3563E9;
  border-radius: 5px;
  border-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .photo-mini-1 img {
  height: 108px;
  width: 132px;
  background-color: #3563E9;
}
.content .photo-mini-2 {
  height: 124px;
  width: 148px;
}
.content .photo-mini-3 {
  height: 124px;
  width: 148px;
}
.content .gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content .reviews {
  width: 1016px;
  height: 452px;
  background-color: blue;
}
.content .recentcar {
  width: 1016px;
  height: 452px;
  background-color: blue;
}
.content .recomendcar {
  width: 1016px;
  height: 452px;
  background-color: blue;
}
.container {
  display: flex;
  width: 1440px;
  height: 2016px;
  margin: 0 auto;
  background-color: red;
}
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  height: 124px;
  background-color: white;
  margin: 0 auto;
}
.topbar-left {
  display: flex;
  justify-content: flex-start;
}
.topbar-right {
  justify-content: flex-end;
}
.logo {
  margin: auto 35px;
  padding: 5px 15px 5px 5px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -0.03em;
  color: #3563E9;
}
.search {
  margin: auto 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 492px;
  border: 0.5px solid lightgray;
  border-top-left-radius: 50%;
  border-radius: 20px;
}
#input {
  border: none;
  width: 80%;
  height: auto;
}
.account {
  margin: auto 5px;
  padding: 5px;
}
.icon_search {
  padding: 3px;
  margin: 5px;
}
.footer {
  width: 1440px;
  height: 480px;
  margin: 0 auto;
}
.footer .footer-up {
  display: flex;
  justify-content: space-between;
}
.footer .footer-up .footer-logo {
  margin: 60px;
}
.footer .footer-up .links {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 40px;
  margin-right: 100px;
}
.footer .footer-up .links h2 {
  font-weight: 600;
  font-size: 20px;
  font-family: 'Plus Jakarta Sans';
}
.footer .footer-up .links .about {
  padding: 30px;
  margin: 15px;
}
.footer .footer-up .links .about p {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  color: rgba(19, 19, 19, 0.6);
}
.footer .footer-up .links .community {
  padding: 30px;
  margin: 15px;
}
.footer .footer-up .links .community p {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  color: rgba(19, 19, 19, 0.6);
}
.footer .footer-up .links .socials {
  padding: 30px;
  margin: 15px;
}
.footer .footer-up .links .socials p {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  color: rgba(19, 19, 19, 0.6);
}
.icon {
  background-color: light;
  border-radius: 50%;
  border: 0.5px solid lightgray;
  padding: 10px;
}
